* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
}
header h1 {
    color: orange;
    margin: 2vh 0;
    font-size: 8vh;
    font-weight: 700;
}
menu {
    background-color: greenyellow;
}
a.menu {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width:30vw;
    color: black;
    padding: 1vh 0;
    font-weight: 700;
}
a.menu:hover {
    background-color: darkgreen;
    color: yellow;
}
article {
    color:white;
    margin: 2vh 0;
    height: 40vh;
    text-align:center;
}
article h1 {
    margin: 1vh 0 4vh 2vh;
    padding: 1vh 0;
    border-bottom: 2px solid blue;
}
h2 {
    color: aqua;
}
